@import '../App.scss';
.home{
    text-align: center;
    margin: auto;
}
.intro{
    margin: 60px 0 70px;
    h3{
        margin-top: 40px;
    }

}
.tab1-wrap{
    text-align: left;
    width: 60%;
    
}

.tab2-wrap{
    text-align: left;
}
content{
    margin-bottom: 20px;
    ul{
        margin-left: 20px;
    }
    li{
        font-size: 15;
        line-height: 26px;
    }
    p{
        margin-left: 50px;
    }
    img, .anticon{
        margin-right: 10px;
    }
}
.tab-title{
    font-weight: bold;
    padding: 40px 40px 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.ant-tabs-nav .ant-tabs-tab{
    border-color: #222;
    background-color: #2a2a2a;
    color: #fff;
    padding: 14px 20px !important;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 10px !important;
    font-size: 20px;
}
.plans{
   
    .box{
        background-color: #fff;
        width: 65%;
        margin: auto;
        padding: 30px;
        height: 365px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        p{
            color: #333333;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 4px;
            margin-bottom: 33px;
        }
        h1{
            color: $main-color;
            // font-size: 48px;
            font-weight: 600;
            margin-bottom: 35px;
            span{
                color: #a4a4a4;
                font-size: 18px;
            }
        }
        
    }
    &.prices{
        .box{
            background-color: #f8f8f8;
            width: 90%;
        }
        p{
            margin-left: 0;
        }
    }
}

.plans{
    margin: 40px 0 100px;
}
.panel-wrap{
    text-align: left;
    padding: 20px;
    .anticon svg{
        color: $main-color;
        font-size: 26px;
    }
    .tsg-btn{
        width: 150px;
    }
}
.ant-tabs-nav .ant-tabs-tab:hover {
    color: #666 !important;
}
.ant-tabs-nav .ant-tabs-tab-active{
    border-color: #f0f0f0;
    background-color: #f8f8f8;
    color: #666 !important;
}
.ant-collapse{
    border: none !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header{
    background-color:$main-color;
    border-radius: 6px !important;
    border: none;
    text-align: left;
    color: #fff !important;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 40px !important;

}
.ant-collapse > .ant-collapse-item {
     border-bottom: none !important
}
.ant-tabs-ink-bar{
    background-color: transparent !important;
}

@media (max-width: $screen-lg) {
    .tab1-wrap{
        width: 100%; 
    }
    .plans .box {
        width: 90%;
    }
  }
@media (max-width: $screen-md) {
    .plans .box {
        width: 100%;
    }
}
@media (max-width: $screen-sm) {
    .header .overlay .logo {
        left: 0 !important;
    }
}